@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One:wght@400;700;900&family=Poppins&family=Sriracha&display=swap');

:root{
    --fonte-cabecalho: 'Passion One', cursive;
    --fonte-text: 'Sriracha';
    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    min-height: 100vh;
    background-color: aquamarine;
    font-family: var(--fonte-normal);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-cabecalho);
    font-size: 10vw;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-text);
    font-size: 3.5vw;
}

section p{
    padding-bottom: 2em;
}

section.normal{
    color: black;
    background-color: white;
}

section.imagem{
    display: block;
    background-color: rgb(77, 77, 77);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.781) ;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
}

section.imagem p{
    background-color: rgba(0, 0, 0, 0.432);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

.imagem#img01{
    background-image: url('imagens/imagens/background001.jpg');
}

.imagem#img02{
    background-image: url('imagens/imagens/background002.jpg');
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}